.backgroundImg {
  background-image: linear-gradient(#0005, #fff5), url('../../../public/bg_login.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.backgroundCard {
  background-color: #fff9;
  color: black;
}

.textRight {
  text-align: right;
}